---
import Footer from '../components/Footer'
import Header, { HeaderProps } from '../components/Header'
import '../styles/base.css'
import ColorMode from './ColorMode.astro'
import GoogleFont from './GoogleFont.astro'

export interface Props {
  title: string
  author?: string
  description?: string
  withoutFooter?: boolean
  headerVariant?: HeaderProps['variant']
}

const {
  title = 'zacharytamas',
  author = 'Zachary Jones',
  description = 'My personal website.',
  withoutFooter = false,
  headerVariant,
} = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="theme">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#ffffff" />

    <title>{`${title} | zacharytamas`}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <GoogleFont />
    <ColorMode />
  </head>
  <body class="max-w-3xl mx-auto px-6 sm:px-8">
    <Header variant={headerVariant} />
    <slot />
    {!withoutFooter ? <Footer /> : null}
  </body>
</html>
